# Treino do desafio Machine Learning - Udemy

Você acabou de conseguir um trabalho temporário com uma empresa de e-commerce com sede na cidade de Nova York, que vende roupas online. Além disso, eles oferecem sessões presenciais de consultoria de estilo e vestuário. Os clientes podem ir até a loja, participar de sessões com um personal stylist e, depois, fazer seus pedidos pelo aplicativo móvel ou pelo site.
A empresa está tentando decidir se deve focar seus esforços na experiência do aplicativo móvel ou do site. Eles te contrataram para ajudá-los a descobrir isso!

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
df_customers= pd.read_csv('Ecommerce Customers.csv')

df_customers.head()

In [25]:
df_customers.describe()

,Avg. Session Length,Time on App,Time on Website,Length of Membership,Yearly Amount Spent
count,500.000000,500.000000,500.000000,500.000000,500.000000
mean,33.053194,12.052488,37.060445,3.533462,499.314038
std,0.992563,0.994216,1.010489,0.999278,79.314782
min,29.532429,8.508152,33.913847,0.269901,256.670582
25%,32.341822,11.388153,36.349257,2.930450,445.038277
50%,33.082008,11.983231,37.069367,3.533975,498.887875
75%,33.711985,12.753850,37.716432,4.126502,549.313828
max,36.139662,15.126994,40.005182,6.922689,765.518462

In [ ]:
df_customers.info()